//------------------ General ------------------\\

@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 1920px;
    font-family: Raleway;
}

//------------------ Header ------------------\\

header {
    
}

//------------------ Footer ------------------\\

//------------------ Main ------------------\\

.main__section:nth-child(2n) {
    background-color: #fbfaf8;;
}