//-------------------- General --------------------\\

// ADD FONTFAMILIES

* {
    padding: 0;
    margin: 0;
}

body {
    width: 1920px;
    margin: 0 auto;
}

.button {
	display: inline-block;
	color: #fff;
	background-color: #998675;;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	padding: 20px 38px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

.bold {
    font-weight: 700;
}

.cls {
    clear: both;
}

//-------------------- Header --------------------\\

    // Решил всю первую секцию запихнуть в один хедер без подсекций, так как похожая форма хедела не будет нигде использоваться (по крайней мере я не представляю себе как)
header {
    background-image: url(../img/header-background.jpg);
    background-size: contain;
    position: relative;
    height: 1024px;
}

.header__topbar {
    padding: 40px 375px;
    line-height: 56px;
    vertical-align: middle;
}

.topbar__logo {
    float: left;
    width: 64px;
    height: 56px;
    margin-right: 15px;
}

.topbar__name {
    float:left;
    vertical-align: middle;
    color: #fff;
    font-family: Raleway;
    font-size: 34px;
}

.topbar__navbar {
    float:right;
    a {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        color: #fff;
        margin-right: 30px;
        font-family: Monsterrat;
        font-size: 14px;
        font-weight: 300;
    }
    a:hover {
        color: #c7b29a;
    }
}

.navbar__icons {
    float:right;
    display: inline-block;
    margin-left: 60px;
}

//-------------------- Footer --------------------\\

//-------------------- Main --------------------\\

.main__section:nth-child(2n) {
    background-color: #fbfaf8;;
}